.header {
  padding: 0.6rem 1.5rem;
  border-radius: 10rem;
  background-color: $color-bg-white;
  margin-bottom: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;

    @media screen and (min-width: 769px) {
        margin-bottom: 7rem;
      padding: 1.6rem 2rem;
      }

  &__logo-link {

    flex-shrink: 0;

    @media screen and (min-width: 769px) {
      // margin-bottom: 7rem;

      margin-right: 2rem;
    }

    @media screen and (min-width: 999px) {
      margin-right: 6rem;
    }
  }

  &__link {
    font-size: 1.2rem;
    display: none;
    cursor: pointer;
    transition: color 0.2s ease;

    @media screen and (min-width: 769px) {
      display: inline;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $color-bg-orange;
      }
    }
  }

  &__button {
    &.change {
      visibility: hidden;
    }
  }

  &__menu {}
}