.header {
  padding: 1.6rem 2rem;
  border-radius: 10rem;
  background-color: $color-bg-white;
  margin-bottom: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;


  &__logo-link {

    flex-shrink: 0;

    @media screen and (min-width: 769px) {
      margin-right: 2rem;
    }

    @media screen and (min-width: 999px) {
      margin-right: 6rem;
    }
  }

  &__link {
    font-size: 1.2rem;
    display: none;

    @media screen and (min-width: 769px) {
      display: inline;
    }
  }

  &__button {}

  &__menu {}
}