.menu {
  display: inline-block;
  

  @include _769 {
    display: none;
  }

  &__bar1,
  &__bar2,
  &__bar3 {
    width: 17px;
    height: 2px;
    background-color: $color-bg-orange;

    transition: 0.4s;
    border-radius: 1rem;
  }

  &__bar1,
  &__bar2 {
    margin-bottom: 4px;
  }

  &.change &__bar1 {
    transform: translate(0, 6px) rotate(-45deg);
    background-color: #BCBCBC;
  }

  &.change &__bar2 {
    opacity: 0;
    background-color: #BCBCBC;
  }

  &.change &__bar3 {
    transform: translate(0, -6px) rotate(45deg);
    background-color: #BCBCBC;
  }

  &.change {
    position: fixed;
    z-index: 3;
    right: 3rem;
  }
}