.test {
  background-color: $color-bg-white;
  padding: 4.5rem 2rem 4rem;
  border-radius: 3rem;
  width: 90%;
  visibility: hidden;
  opacity: 0;

  @include _769 {
    max-width: 74rem;
  }

  &__close-button {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
    background: transparent;
    border: none;
    outline: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 2px;
      height: 16px;
      background-color: rgba(188, 188, 188, 1);
      rotate: 45deg;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 2px;
      height: 16px;
      rotate: -45deg;
      background-color: rgba(188, 188, 188, 1);
    }
  }

  &__flex {
    // width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__task {
    padding: 1rem 2rem;
    border-radius: 5rem;
    background-color: $color-bg-gray;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    font-weight: 600;

    @include _769 {
      margin-bottom: 2.5rem;
      font-weight: 400;
      align-self: start;
    }
  }

  &__title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 131%;
    max-width: 80%;
    margin-bottom: 2rem;

    @include _769 {
      margin-bottom: 2.5rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 108%;
      max-width: 50rem;
    }
  }

  &__text {
    text-align: center;
    font-size: 1.2rem;
    line-height: 150%;
    max-width: 50rem;
    margin-bottom: 2.5rem;

    @include _769 {
      margin-bottom: 2rem;
      font-size: 1.5rem;
      line-height: 133%;
      text-align: left;
      max-width: 100%;
    }
  }

  &__btn {
    text-align: center;
    margin: 0 auto;
    font-size: 1.4rem;
    padding: 1.5rem 7rem 1.5rem 4rem;

    @include _769 {
      align-self: end;
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include _769 {
      flex-direction: row;
    }
  }

  &__option-btn {
    font-size: 15px;
    font-weight: 500;
    line-height: 96.688%;
    letter-spacing: -0.45px;
    align-self: end;

    @include _769 {
      flex-direction: row;
      margin-left: auto;
      margin-right: 0;
    }

    &::after {
      content: '';
      height: 1.6rem;
      width: 2rem;
      position: absolute;
      background-image: url('/icons/arrow-front.svg');
      background-size: cover;
      right: 3rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
  }

  &__option {

    display: flex;
    align-items: center;
    gap: 2rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__option-text {
    font-size: 1.2rem;
    line-height: 200%;
    font-weight: 500;
  }

  &__radio {
    display: none;
  }

  &__radio-box {
    width: 2.2rem;
    height: 2.2rem;
    background: $color-bg-gray;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-shrink: 0;
  }

  &__radio:checked+&__radio-box {
    &::after {
      content: '';
      position: absolute;
      height: 1.4rem;
      width: 1.4rem;
      background-color: $color-bg-orange;
      border-radius: 0.4rem;
    }
  }
}