.test {
  background-color: $color-bg-white;
  padding: 4.5rem 2rem 4rem;
  border-radius: 3rem;



  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__task{
    
  }

  &__title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 131%;
    max-width: 80%;
    margin-bottom: 2rem;

    @include _769 {
      margin-bottom: 2.5rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 108%;
      max-width: 50rem;
    }
  }

  &__text {
    text-align: center;
    font-size: 1.2rem;
    line-height: 150%;
    max-width: 50rem;
    margin-bottom: 2.5rem;

    @include _769 {
      margin-bottom: 2rem;
      font-size: 1.5rem;
      line-height: 133%;
    }
  }

  &__btn {
    text-align: center;
    margin: 0 auto;
    font-size: 1.4rem;
    padding: 2rem 7rem 2rem 4rem;

    @include _769 {
      font-size: 2rem;
    }
  }
}

.fancybox__content {
  background-color: transparent;
  padding: 1rem;
}

.is-compact .fancybox__content>.f-button.is-close-btn {
  top: 2rem;
  right: 2rem;
  background: none;
  color: $color-font-gray;
}

.fancybox__content>.f-button.is-close-btn {
  top: 2.5rem;
  right: 2.5rem;
  background: none;
  color: $color-font-gray;
}