$color-font-black: #22253b;
$color-font-blue: #38bff2;
$color-font-gray: #8e8e8e;

$color-bg-orange: #f15525;
$color-bg-gray: #eaf2f5;
$color-bg-white: #fff;

$color-bg-tech-blue: #5096ff;
$color-bg-tech-yellow: #ffb359;
$color-bg-tech-orange: #ff6f50;
$color-bg-tech-green: #4bd071;
$color-bg-tech-lightblue: #50c0ff;
$color-bg-tech-darkblue: #4b77b9;
$color-bg-tech-purple: #af93ff;