.cost {

  &__main {
    padding-top: 6rem;
    padding-bottom: 5rem;

    @include _769 {
      padding-top: 9rem;
    }
  }

  &__title {
    text-align: center;
    font-size: clamp(2.2rem, 3vw, 4.6rem);
    margin-bottom: 2.5rem;

    @include _769 {
      margin-bottom: 3.5rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
    margin-bottom: 2rem;

    @include _769 {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 4rem;
      // gap: 7rem;
    }
  }

  &__item {
    // flex: 0 0 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;

    &:nth-child(2) {


      @include _769 {
        flex-basis: 25rem;
      }
    }

    @include _769 {
      flex-direction: row;
      gap: 3rem;
    }
  }


  &__text {
    text-align: center;
    max-width: 25rem;
    font-size: clamp(1.2rem, 2vw, 1.6rem);

    @include _769 {
      text-align: left;
      max-width: 30rem;
    }
  }

  &__turn-icon {
    display: block;
    margin: 0 0 2rem 2rem;

    @include _769 {
      display: none;
    }
  }

  &__table-scroll {
    width: 100%;
    overflow: auto;
  }


  &__table-wrapper {
    padding: 2rem;
    background-color: $color-bg-white;
    border-radius: 3rem;
    min-width: 72rem;
  }

  &__note {
    font-size: 1.2rem;
    line-height: 166%;
    color: $color-font-gray;
    margin: 2rem 0 4rem 4rem;

    @include _769 {
      font-size: 16px;
      line-height: 156%;
      margin: 2.5rem 0 3.5rem 5.5rem;
    }
  }
}