.education {
  background-image: url('/images/circles.png');
  background-position: 50% 140%;
  background-repeat: no-repeat;
  padding-top: 6rem;

  @include _769 {
    background-position: 45% 120%;
  }

  &__container {}

  &__title {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    text-align: center;

    @include _769 {
      font-size: 4.6rem;
      margin-bottom: 2.5rem;
    }
  }

  &__text {
    max-width: 64rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
  }

  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    @include _769 {
      margin-bottom: 3rem;
    }
  }

  &__advantages {
    background-color: $color-bg-white;
    padding: 4rem 2rem;
    border-radius: 3rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 0;

    @include _769 {
      padding: 5.5rem 3.5rem;
      border-radius: 4rem;
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
      margin-bottom: 2.5rem;
    }
  }


  &__cta {
    // max-width: 30rem;
    max-width: 53rem;
    margin: 0 auto;
    background-color: $color-bg-white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // flex-direction: column;
    padding: 1.5rem 2.5rem 2rem;
    border-radius: 3rem;
    margin-bottom: 6rem;
    gap: 2rem;

    @include _440{
      padding: 2rem 2.5rem 3rem;
    }

    @include _769 {
      gap: 2.5rem;
      padding: 1.2rem;
      border-radius: 11rem;
      flex-direction: row;
      margin-bottom: 9rem;
    }
  }

  &__button {
    position: relative;
    align-self: center;
    font-size: 1.6rem;
    // flex-grow: 0;
    flex-shrink: 0;

  }

  &__cta-text {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 139%;
    max-width: 25rem;
    
    @include _769 {
      max-width: 21rem;
      text-align: left;
      font-size: 1.5rem;
      line-height: 120%;
    }
  }
}