.features {

  &__main {
    border-radius: 3rem;
    padding: 1.5rem;
    background-color: $color-bg-white;

    @include _769 {
      border-radius: 4rem;
      padding: 3rem;
    }

    @include _1000 {
      border-radius: 8rem;
      padding: 6rem;
    }

    @include _1200 {
      border-radius: 8rem;
      padding: 9rem 12rem;
    }
  }

  &__grid {
    &>* {
      margin-bottom: 1rem;
    }

    @include _769 {
      display: grid;
      gap: 3rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "img-1 content-1 content-1"
        "content-2 content-2 img-2"
      ;
    }
  }

  &__item {
    padding: 3.5rem 5rem;
    background-color: $color-bg-gray;
    border-radius: 3rem;
  }

  &__img {
    min-height: 24rem;
    background-image: url('/images/feature-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20rem;

    @include _769 {
      min-height: 30rem;
      background-size: 80%;
    }

    @include _1000 {
      background-size: 70%;
    }

    &-2 {
      background-image: url('/images/feature-2.png');
    }
  }

  &__content {
    padding: 3rem 2rem;

    &-1 {
      grid-area: content-1;
    }

    &-2 {
      grid-area: content-2;
    }

    @include _769 {
      padding: 5rem;
    }

    @include _1200 {
      padding: 5.4rem 10rem;
    }

  }

  &__title {
    font-size: clamp(2rem, 3vw, 3.2rem);
    line-height: 95%;
    font-weight: 600;
    margin-bottom: 2rem;


  }

  &__text {
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    line-height: 140%;
    font-weight: 400;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    @include _769 {
      line-height: 156%;
    }
  }


}