.technology {
  padding-top: 11rem;
  // background-color: $color-bg-white;
  padding-bottom: 10rem; // УБРАТЬ ПОТОМ!!
  background-image: url('/images/technology.svg');
  background-position: top;
  margin-top: -8rem;
  position: relative;
  z-index: 2;

  &__title {
    text-align: center;
    margin-bottom: 3.5rem;
  }

  &__content {
    background-color: $color-bg-gray;
    border-radius: 4.8rem;
    display: flex;
    align-items: center;
    gap: 6rem;
    padding: 0 10rem 0;

    @media screen and (min-width: 1200px) {
      align-items: normal;
    }

  }

  &__cover {
    margin-top: 4rem;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 41rem;
  }

  &__img {}

  &__stack {
    flex-basis: 47rem;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    gap: 1rem;
    color: $color-bg-white;
    margin: 0 0 0 2rem;
    
    @media screen and (min-width: 1200px) {
      margin: 4rem 0 2rem;
    }
  }

  &__item {
    padding: 1.5rem 3rem;
    border-radius: 5rem;
    display: inline-block;
    font-size: 1.4rem;

    @media screen and (min-width: 769px) {
      font-size: 1.6rem;
    }
  }

  &__text {
    display: none;


    @media screen and (min-width: 1200px) {
      display: inline;
      max-width: 40rem;
      font-weight: 600;
      font-size: 2rem;
      line-height: 125%;
    }

  }
}


.item-blue {
  background-color: $color-bg-tech-blue;
}

.item-yellow {
  background-color: $color-bg-tech-yellow;
}

.item-orange {
  background-color: $color-bg-tech-orange;
}

.item-green {
  background-color: $color-bg-tech-green;
}

.item-lightblue {
  background-color: $color-bg-tech-lightblue;
}

.item-darkblue {
  background-color: $color-bg-tech-darkblue;
}

.item-purple {
  background-color: $color-bg-tech-purple;
}